PORT=8000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/taskflow-ts?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
NODE_ENV=development
